.hero {
  background: $light;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 50px;
  &__left {
    font-size: 25px;
    @include media(910) {
      padding: 50px 0;
    }
    h1 {
      color: $lime;
      font-size: 1.2em;
      margin-bottom: 8px;
    }
    h2 {
      color: $dark;
      margin-bottom: 8px;
    }
    p {
      color: $dark;
      font-weight: bold;
    }
    button {
      font-size: 25px;
      color: $light;
      background: $lime;
      padding: 10px 15px;
      border-radius: 5px;
      margin-top: 8px;
      cursor: pointer;
      position: relative;
      a {
        position: relative;
        color: $light;
        z-index: 2;
      }
      &::before {
        position: absolute;
        content: "";
        left: 0;
        transition: all 0.2s;
        width: 0;
        height: 100%;
        top: 0;
        border-radius: inherit;
        background: $red;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
  &__right {
    text-align: center;
    img {
      background: no-repeat center center/cover;
      width: 100%;
      height: auto;
    }
  }
}
